<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>Welcome</title>
</head>
<body>
	<div class="row">
		<div class="col-sm-8 offset-sm-3">
			<h1>アナゴさん ものまね選手権</h1>
			<p>アナゴさんのモノマネをしましょう</p>
			<img th:src="@{'/img/anago.jpg'}" width="100" height="100" alt="アナゴさんイメージ">
			<form action="/mark" th:action="@{/mark}" method="post" enctype="multipart/form-data" th:object="${impersonationForm}">
				<input type="file" accept="audio/*" capture="microphone"
					id="recorder" th:field="*{uploadedFile}">
				<audio id="player" controls></audio>
				<button type="submit" value="採点" class="btn btn-primary mb-2">採点</button>
			</form>
		</div>
	</div>
	<script>
	  var recorder = document.getElementById('recorder');
	  var player = document.getElementById('player');

	  recorder.addEventListener('change', function(e) {
	    var file = e.target.files[0];
	    // Do something with the audio file.
	    player.src =  URL.createObjectURL(file);
	  });
	</script>

</body>
</html>