<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,body)">
<head>
    <title th:replace="${title}">Staff Management System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
</head>
<body>

    <!-- container start -->
    <div class="container">
        <div id="body" th:replace="${body}"></div>
    </div>
    <!-- container end -->
    <script th:src="@{'/js/jquery.slim.min.js'}"></script>
    <script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>
</body>
</html>